body{
    color: #000;
    font-family: Arial;
}
input{
    display: block;
}
.fas{
    padding: 0 6px;
}
.content{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content .widget{
    width: 60%;
    min-width: 615px;
    max-width: 750px;
}
.background{
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../images/golden-gate.jpg);
    filter: blur(8px);
    background-size: cover;
}
.navbar{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: flex-end;
}
.navbar li{
    flex-grow: 1;
}

.navbar li>a{
    text-align: center;
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #283d3e;
}
.navbar>li:nth-child(1) a i {
    transform: rotate(-45deg);
}
.navbar>li:nth-child(2) a{
    background-color: rgba(255, 255, 255, 0.6);
}
.navbar>li:nth-child(3) a{
    background-color: rgba(255, 255, 255, 0.4);
}
.navbar>li:nth-child(4) a{
    background-color: rgba(255, 255, 255, 0.2);
}

.navbar li>.active{
    background-color: #283d3e;
    color: #c3ebe3;
    border-top: 8px solid #e98f77;
    border-radius: 5px 5px 0 0;
}
/*==================== Forms ===================*/
main{
    background-color: #283d3e;
    border-radius: 0 0 8px 8px;
}
#tickets-form.hidden{
    display: none;
}
.tickets{
    padding: 40px 30px;
}
.tickets form
{
    display: flex;
    flex-direction: column;
}
.tickets input {
    border-radius: 8px;
}
.tickets input[type=checkbox]
{
    display: inline-block;
}
.tickets h2
{
    text-align: center;
    color:#c2eae2;
}
/*==================== flight data ====================*/
.tickets .flight-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: 1;
}
.tickets .flight-data input{
    box-sizing: border-box;
    padding: 15px 70px 15px 10px;
    width: 100%;
    border: none;
    box-shadow: inset -1px 1px 6px #9a9a9a; 
}
.tickets .flight-data>div:nth-child(1) {
    width: 60%;
}
.tickets .flight-data>div:nth-child(2) {
    width: 35%;
}
.tickets .flight-data .input-city{
    position: relative;
}
.tickets .flight-data .input-city input{
    position: relative;
    font-size: 20px;
}
.tickets .flight-data .input-city input:required:valid{
    /* insert your own styles for invalid form input */
}
.tickets .flight-data .input-city:nth-child(1) {
    margin: 0 0 20px 0;
}
.tickets .flight-data .input-city span{
    font-size: 12px;
    position: absolute;
    top:18px;
    right: 5px;
    z-index: 3;
    color: #9a9a9a;
}
.tickets .flight-data .date{

}
.tickets .flight-data .date span{
    width: 50%;
    height: 20px;
    display: block;
    position: relative;
}
.tickets .flight-data .date span i{
    color: #16b595;
    position: absolute;
}

.tickets .flight-data .date .top{
    border-top: 1px solid #16b595;
    border-right: 1px solid #16b595;
}
.tickets .flight-data .date .top i{
    top: -8px;
    left: -25px;
}
.tickets .flight-data .date .bottom{
    border-bottom: 1px solid #16b595;
    border-right: 1px solid #16b595;
}
.tickets .flight-data .date .bottom i{
    bottom: -8px;
    left: -25px;
}

.tickets .flight-data #flight-date{
    padding: 10px 5px;
    margin: 0;
    box-shadow: none;
    border: 3px solid #16b595;
}

/*==================== flight details ====================*/

.tickets .flight-details{
    display: flex;
    justify-content: space-between;
    order: 3;
    padding: 15px 0;
    
}
.tickets .flight-details select{
    font-size: 17px;
    background-image: linear-gradient(to bottom, #58726f 0%, #1c2628 100%);
    border-radius: 8px;
    padding: 5px;
    color: #c2eae2;
    border-image: linear-gradient(to bottom, #1c2628 0%,#202928 100%);
    border-image-slice: 1;
    border-width: 1px;
}
.tickets .flight-details select option{

    color: #000;
}

.tickets .flight-details>div:nth-child(1) {
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.tickets .flight-details>div:nth-child(2) {
    display: flex;
    align-items: center;
    width: 35%;
}
.tickets .flight-details .select-passenger {
    position: relative;
    display: inline-block;
}
.tickets .flight-details .select-passenger i{
    position: absolute;
    top: 8px;

}
.tickets .flight-details .select-passenger select{
    padding: 5px 10px 5px 20px;

}

.tickets .flight-details input[type=checkbox]
{   
    margin: 0;
    width: 20px;
    height: 20px;
    border: none;
}

.tickets .flight-details .show-hotels label
{
    padding: 0 10px;
    color: #c2eae2;
}

/*==================== flight buttons ====================*/

.tickets .buttons
{   
    order: 2;
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    
}

.tickets .buttons .add-flight{
    width: 60%;
    font-size: 20px;
    text-align: initial;
    border-radius: 5px;
    padding: 10px 5px;
    background-color: transparent;
    border: 2px dashed #30635e;
    text-decoration: underline dotted; 
    color: #17b495;
    
}
.tickets .buttons .add-flight i{
    font-size: 14px;
    color: #000;
}
.tickets .buttons .find-btn{
    width: 35%;
    font-size: 20px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #0de1b8 0%, #0c9d80 100%);
    padding: 15px;
    box-shadow: 0px 2px 8px #000;
    border-image: linear-gradient(to bottom, #0de1b8 0%, #0c9d80 100%);
    border-image-slice: 1;
    border-width: 1px;
}

.hotels{
    display: none;
}




